.search {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	width: calc(100vw - 100px);
	border-radius: 0 0 0 8px;
	background-color: white;
	padding: 16px;
}

.search input {
	flex: 1;
	margin: 0 16px;
}
